<div class="night-theme">
  <div class="stars"></div>
  <div class="stars2"></div>
  <nav class="auth-buttons">

    <ng-container *ngIf="!isLoggedIn">
      <button class="btn-auth outline" routerLink="/auth/register">S'inscrire</button>
      <button class="btn-auth solid" routerLink="/auth/login">S'authentifier</button>
    </ng-container>

    <div class="user-nav" *ngIf="isLoggedIn">
      <span class="user-welcome">Bonjour, {{ userName }}</span>
      <ng-container *ngIf="isOrganiser">
        <button class="btn-auth outline" routerLink="/organiser/create-scene">+ Scène</button>
        <button class="btn-auth outline" routerLink="/organiser/create-event">+ Événement</button>
      </ng-container>

      <button *ngIf="isAdmin" class="btn-auth admin" routerLink="/admin/dashboard">Contrôle</button>
      <button class="btn-auth outline" (click)="onLogout()">Déconnexion</button>
    </div>

  </nav>
  <header class="hero">
    <div class="hero-content">
      <h1 class="japanese-title">ミスターチケット</h1>
      <h2 class="main-title">MisterTicket</h2>
      <div class="torii-divider"></div>
    </div>
  </header>

  <main class="container">
    <section class="events-section">
      <h3 class="section-label">Événements à l'affiche / 今後のイベント</h3>

      <div *ngIf="loading" class="loader">
        <div class="spinner"></div>
      </div>

      <div class="event-grid" *ngIf="!loading">
        <div class="event-card" *ngFor="let event of events">
          <div class="card-glass">
            <div class="date-tag">{{ event.date | date:'dd MMM' }}</div>
            <h4>{{ event.name }}</h4>
            <p class="description">{{ event.description | slice:0:100 }}...</p>
            <div class="card-footer">
              <span class="location"><i class="bi bi-geo-alt"></i> {{ event.location }}</span>
              <div class="admin-actions" *ngIf="isAdmin || isOrganiser">
                <button [routerLink]="['/organiser/modify-event', event.id]" class="btn-edit" title="Modifier l'événement">
                  <i class="bi bi-pencil-square"></i> Modifier
                </button>
              </div>
              <button [routerLink]="['/event', event.id]" class="btn-reserve">
                Réserver
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
