html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #050b1a; 
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
}
.main-wrapper {
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  position: relative;
  overflow-x: hidden;
}
